.partner-slider {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
  }
  
  .partner-slider::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  /* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 20s linear infinite;
  }
  